html, body {
    margin: 0;
    padding: 0;
    background-color: slategrey

}

#mainBody {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #944FD6;
    padding: 25px;
}

#searchBox {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    background-color: #D6944F;
    flex-direction: column;
}

#searchInput {
    background-color: royalblue;
    color: white;
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
}
#addInput {
    background-color: royalblue;
    color: white;
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
}


#contentBox {
    display: block;
    padding: 10px;
}

#contentBox .content {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
    list-style-type: none;
    border-width:5px;  
    border-style:outset;
}

::placeholder {
    color: white;
}

#addText, #removeText  {
    background-color: teal;
    border-radius: 25px;
    width: 80px;
    height: 40px;
    
}
#removeText {
    position: relative;
    left: 650px;
}